//
//  .gitignore
//  Movie-Search
//
//  Created by Annie Beaulieu on 10/27/25.
//

# Xcode build & user data
build/
DerivedData/
*.xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/

# User-specific schemes
xcuserdata/
xcshareddata/xcschemes/*
